.ecw-grid-onflip-pin-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.ecw-grid-onflip-pin-con .ecw-onflip-pin-card {
    background: gray;
    border: 1px solid red;
    padding: 20px;
     height: 100%;
}
.ecw-container-onflip-pin-con {
    display: flex;
    gap: 40px;
}
.ecw-onflip-pin-list-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px !important;
}
.ecw-onflip-pin-list-con .ecw-onflip-pin-card {
    width: 100%;
    /* background: gray; */
    /* border: 1px solid red; */
    /* padding:20px; */
    height: 100%;
    overflow: hidden;
     /* height: auto; */
}

.ecw-parent-onflip-pin-widget {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

.ecw-grid-onflip-pin-con , .ecw-container-onflip-pin-con {
    width:100%;
}

 .ecw-onflip-pin-con-template  {
    display: none;
}

.ecw-onflip-pin-right-list  .ecw-onflip-pin-con-template {
    display: block;
}