.ecw-hr-slider-parent {
    position: relative;
    transition: none !important;
    /* height: 100vh; */
    /* background-color: bisque; */
    display:flex;
    align-items: center;
}

.ecw-hr-slider-content {
    display: flex;
    gap: 20px; /* Elementor control */
}

.ecw-hr-content-slide {
    min-width: 40vw; /* Elementor control */
    /* height: 50vh;     */
 
}


@media (max-width: 767px){

    .ecw-hr-slider-parent{
        overflow:hidden;
    }

    .ecw-hr-slider-content{
        overflow-x:auto;
        overflow-y:hidden;
        scroll-snap-type:x mandatory;
        -webkit-overflow-scrolling:touch;
        cursor:grab;

        scrollbar-width:none;      /* Firefox */
        -ms-overflow-style:none;
    }

    .ecw-hr-content-slide{
        flex:0 0 90%; /* 👈 better mobile size */
        min-width:auto; /* override desktop width */
        scroll-snap-align:start;
    }

        .ecw-hr-slider-content::-webkit-scrollbar{
        display:none;              /* Chrome / Safari */
    }

}