

.elementor-widget-container h1, .elementor-widget-container h2, .elementor-widget-container h3, .elementor-widget-container h4, .elementor-widget-container h5 {
  margin: 0;
  padding: 0 ;  
}




.elementor-widget-container .ecw-line-mask {
  overflow: hidden !important;
  /* border: 1px solid red !important;        */
  display: inline-block; 
  line-height: 1.2em; 
  /* vertical-align: bottom; */
}


.elementor-widget-ecw_basic_horizontal_scroll .ecw-slider-content h2.ecw-hr-slide-heading, .elementor-widget-ecw_basic_horizontal_scroll .ecw-hr-slider-content p {
   margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    margin: 0 !important;
    
}

.ecw-gallery-inner-content-template .ecw-galleryzoom-inner-content-heading, .ecw-gallery-inner-content-template p {
   margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    margin: 0 ;
}